chameneos/akka/project/boot/
chameneos/java/project/boot/
chameneos/scala-actors/project/boot/
download/akka/project/boot/
download/jetlang/project/boot/
download/scala-actors/project/boot/
*~
*#
project/boot/*
*/project/build/target
*/project/bootgit 
lib_managed
etags
TAGS
reports
dist
build
target
deploy/*.jar
data
out
logs
storage
_dump
.manager
manifest.mf
semantic.cache
tm*.log
tm*.lck
tm.out
*.tm.epoch
.DS_Store
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.idea
.scala_dependencies

